
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kalam:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: "DM Sans", sans-serif;
    background-color: #000;
}

.container{
    max-width: 1860px;
    margin-inline: auto;
    padding-inline: 5px;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* navigation bar */

nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF80;
    border: 1px solid #FFFFFF42;
    padding-left: 10px;
    padding-right: 15px;
    box-shadow: 6px;
    z-index: 1;
    
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

}

.company-logo>img{
    width: 110px;
    
}
.nav-links {
    margin-left: 110px;
}

.nav-links ul{
    display: flex;
    list-style: none;
    align-items: center;
    background-color: #08070A;
    width: fit-content;
    border-radius: 100px;
    padding: 10px;
    gap: 10px;
    font-size: 13px;
     
}


.hover-link{
    color: white;
    background-color: #19181D;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.4s ease;
    

}

.hover-link:hover{
    background-color: #FF3B00;

}


.right-nav>a{
    display: inline-flex;
    align-items: center;
    background-color: #000;
    color: white;
    font-weight: 400;
    font-size: 16px;
    gap: 5px;
    border: 3px solid #FF3B00;
    border-radius: 100px;
    padding: 15px 25px;
    transition: background-color 0.4s ease;

}

.right-nav>a:hover{
    background-color: #FF3B00;
    border: 3px solid #ffffff;

}

.icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    transition: transform 0.6s ease-in-out;
     
}

.right-nav:hover .icon-bg{
    transform: rotate(-360deg);
}

.icon-bg img{
    width: 19px;
    height: 19px;
    padding: 1px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(85%) saturate(7455%) hue-rotate(2deg) brightness(105%) contrast(101%); 
   
}

header{
    display: flex;
    color: white;
    background-color: #000;
    gap: 55px;
}

.left-header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 210px;
    margin-left: 75px;
    
}

.avtar{
    display: flex;

}

.avtar-pics{
    width: 45px;
    border: 2px solid white;
    border-radius: 50px;
    margin-left: -15px;
    object-fit: cover;

}

.avtar-pics:first-child{
    margin-left: 0px;
}

.badge{
    align-self: flex-start;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.5px;
    border-radius: 50px; 
    background-color: rgba(255, 255, 255, 0.03); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.25);
    margin-top: 10px;
  
}

h1>span{
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -3px;
   

}

h1{
    font-weight: 600;
    font-size: 75px;
    line-height: 1.1;   
 
}

.header-btn{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    
}

.header-btn:hover{
    background-color: #FF3B00;

}

.header-icon-bg{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #FF3B00;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
    transition: transform 0.6s ease-in-out;

}

.header-btn:hover .header-icon-bg{
    background-color: white;
    transform: rotate(-360deg);

}

.header-icon-bg >img{
    position: absolute;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
   
    
    
}

.header-btn:hover .header-icon-bg >img{
    filter: brightness(0) saturate(100%) invert(39%) sepia(85%) saturate(7455%) hue-rotate(2deg) brightness(105%) contrast(101%); 
    
}


.header-btn-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.header-btn-text-heading{
    font-size: 18px;
}

.header-btn-text-bracket{
    font-size: 10px;
}

.brand-text{
    font-size: 14px;
    margin-bottom: 30px;

}

.companies-name{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 30px;
    margin-bottom: 60px;

}

.company-icon{
    height: 26px;
    
}

.right-header{
    display: flex;
    gap: 15px;
    margin-right: 60px;
    height: 1017px;
    overflow: hidden;
    
   
}


.carousel-card{
    flex: 0 0 auto;
    width: 220px;
    height: 325px;
    border-radius: 10px;
    object-fit: cover;
   
    
}

.carousel-first, .carousel-third {
    display: flex;
    flex-direction: column;
    gap: 15px;
    will-change: transform;
    animation: scroll 10s linear infinite;

}

.carousel-second{
    display: flex;
    flex-direction: column;
    gap: 15px;
    will-change: transform;
    animation: scroll 10s linear infinite reverse;

}

@keyframes scroll{
    0%{
        transform:  translateY(0);
    }
    100% {
        transform: translateY(-50%)
    }
} 

.services{
    background-color: #ffffff;
    padding: 240px 65px 170px;

}

.services-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin-bottom: 105px;
}

.caption{
    font-size: 12px;

}

h2{
    font-family: "DM Sans", sans-serif;;
    font-size: 58px;
    color: #10132C;
}

h2>span{
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 400;

}

.caption-second{
    font-size: 13.5px;
}

.service-types{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service-accordian{
    display: flex;
    background-color: #F9F9F9;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;

}

.service-details{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;

    
}

h3{
    font-size: 40px;
}

.service-info{
    font-size: 13.5px;

}

.expand{
    display: flex;
    width: 100%;
    justify-content: space-between;
   

}

.pointer-arrow img {
    width: 40px; 
    height: auto;
    position: relative;
    transform: rotate(80deg) scaleX(-1);
    top: 100px;
    right: 30px;
    
}

.pointer-text {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.pointer-text-heading {
    background-color: #ff4500; 
    color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    padding: 4px 18px;
    border-radius: 50px;
    transform: rotate(10deg);
    margin: 0 0 5px 0;
    box-shadow: 1px 2px 0px rgba(0,0,0,0.1);
}

.pointer-text-caption {
    font-family: 'Gochi Hand', cursive; 
    font-size: 18px;
    color: #111;
    line-height: 1.4;
    text-align: center;
    transform: rotate(10deg);
}

.plus-icon>img{
    width: 15px;
    transition: transform 0.4s ease;

}

.pointer-plus{
    position: absolute;
    top: 1440px;
    right: 80px;
}

.pointer-plus-text{
    font-family: 'Gochi Hand', cursive; 
    font-size: 18px;
    font-weight: 400;
    color: #111;
    line-height: 1.4;
    text-align: center;
    transform: rotate(3deg);

}

.pointer-plus-text span{
    background-color: #ff4500; 
    color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 50px;
    transform: rotate(3deg);
    margin: 0 0 5px 0;
    box-shadow: 1px 2px 0px rgba(0,0,0,0.1);

}

.pointer-plus-arrow img{
    position: absolute;
    height: 80px;
    left: 80px;

}

.vector-circle{
    position: absolute;
    width: 30px;
    top: 140px;
    left: 125px;

}

.according-btn, .pointer{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;

}

.more-info{
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.4s ease, visibility 0.4s;
}

.service-accordian:hover .according-btn,
.service-accordian:hover .pointer{
    max-height: 500px;
    overflow: visible;
    opacity: 1;
    
}

.service-accordian:hover .more-info{
    visibility: visible;
    opacity: 1;
}

.service-accordian:hover .plus-icon>img{
    transform: rotate(-45deg);

}




